<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" href="#servicio">Servicios</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
            <a class="nav-link" href="#">Productos</a>
        </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-flag"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" (click)="openModal()">
          <i class="fa fa-login" mdbRippleRadius></i>Autenticarse</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<app-modal-login></app-modal-login>