<div class="container py-5">
    <section class="row my-5 py-4" id="servicio">
        <!--First columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.2s">

                <!--Card image-->
                <img class="img-fluid" src="/assets/3.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Estudio en paz</h4>
                    <!--Text-->
                    <p class="card-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="font-bold">Read more</a> -->
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--First columnn-->

        <!--Second columnn-->
        <div class="col-lg-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.4s">

                <!--Card image-->
                <img class="img-fluid" src="/assets/48.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Top 5 holiday's places</h4>
                    <!--Text-->
                    <p class="card-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="font-bold">Read more</a> -->
                </div>

            </div>
            <!--/.Card-->

        </div>
        <!--Second columnn-->

        <!--Third columnn-->
        <div class="col-lg-4 mb-4">
            <!--Card-->
            <div class="card wow fadeIn" data-wow-delay="0.6s">

                <!--Card image-->
                <img class="img-fluid" src="/assets/49.jpg" alt="Card image cap">

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Mountain Rivers</h4>
                    <!--Text-->
                    <p class="card-text mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="font-bold">Read more</a> -->
                </div>

            </div>
            <!--/.Card-->
        </div>
        <!--Third columnn-->
    </section>
    <!--Section: Features v.1-->
    <hr>
</div>