<!--Intro Section-->
<section class="view hm-gradient">
  <div class="full-bg-img">
    <div class="container flex-center">
      <div class="row flex-center pt-5 mt-3">
        <div class="col-md-6 text-center text-md-left margins">
          <div class="white-text">
            <h1 class="h1-responsive wow fadeInLeft" data-wow-delay="0.3s">Make purchases with our app </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam
              veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae iste.
            </h6>
            <br>
            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Autenticarse</a>
            <a class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbRippleRadius>Registrarse
            </a>
          </div>
        </div>
        <!-- <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
          <mdb-slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image">
            <div class="carousel-caption">
              <h4>Slide {{index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </mdb-slide>
        </mdb-carousel> -->
        <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
          <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-admin.png" alt="" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>